<div class="col-sm-6 col-xs-10" id="about">
  <p>
    <strong>What?</strong>
    <br>
    BusFinder currently searches the PeterPan, Megabus, LuckyStar, and GoToBus websites to find all the current bus times for you, and then sorts them based on price.
    <br>
    BoltBus and Greyhound integration are currently being worked on.
  </p>
  <p>
    <strong>Why?</strong>
    <br>
    I frequently travel between Boston and New York and always had to open up six different tabs just to find the site with the best prices (trust me, it's always changing), so I thought it would be fun to try building a bus aggregator for everyone! Any <a href="mailto:BusFinderTeam@gmail.com?Subject=Re:BusFinder" target="_top">
feedback</a> is appreciated.
  </p>
</div>
