<form action="/result">

  <label for="roundtrip">Roundtrip?</label>
  <input type="checkbox" name="roundtrip">
  <input type="text" name="origin" placeholder="Origin">
  <input type="text" name="destination" placeholder="Destination">
  <input placeholder="Depart Date" name="depart_date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">
  <input placeholder="Return Date" name="return_date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">
  <br>

  <input type="submit">
</form>

<script>
  $(document).ready(function(){
    var roundtrip = $('input[name=roundtrip]');
    var return_date = $('input[name=return_date]');
    return_date.hide();
    roundtrip.on('change', function(){
      var checked = roundtrip.is(':checked');
      if ( checked ){ return_date.show(); }
      else { return_date.hide(); }
    });
  });
</script>
