<div id="today" class="col-sm-6">
  <%= erb :results_table_partial, {locals: {title: "Today, #{Date.today.strftime("%_m/%-d")} Boston->NYC" , results: @today}} %>
</div>

<div id="tomorrow" class="col-sm-6">
  <%= erb :results_table_partial, {locals: {title: "Tomorrow, #{(Date.today + 1).strftime("%_m/%-d")} Boston->NYC" , results: @tomorrow}} %>
</div>

<%= erb :notes_partial %>

