<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bus Finder</title>
</head>
<body>
  <nav>
    <a href="/">Search</a>
    <a href="/about">About</a>
  </nav>

  <%= yield %>
</body>
</html>
