<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bus Finder</title>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
  <nav>
    <a href="/">Search</a>
    <a href="/about">About</a>
  </nav>
  <%= yield %>
</body>
</html>
