<div class="row">
  <div class="col-sm-6">
    <p>
      Note: Times marked with a * are estimates, LuckyStar does not provide arrival times but their buses take between 3.5 and 4.5 hours.
    </p>
  </div>
</div>
