body {
  /*bus color #F39C12 */
  /*background-image: url('http://subtlepatterns.com/patterns/restaurant.png');*/
/*  background-size: cover;
  background-repeat: no-repeat;*/
  font-family: Helvetica;
}

/*STICKY FOOTER*/
html, body {
height: 100%;
}

#container {
  min-height: 100%;
  margin: 0 auto -40px;
}

/*money #2CFF7A*/
/*1391FF*/

#footer, .push {
  height: 40px;
}

#footer {
  border-top: whitesmoke solid 1px;
  margin-top: 20px;
  font-size: 12px;
  color: #1D1A14;
  text-align: center;
  padding: 13px 0 0 0;
}

#footer a {
  /*color: #6A422A;*/
}

/*STYLES*/
#logo-wrapper {
  text-align: center;
  margin: 30px 0 25px 0;
}

#logo-wrapper a {
  color: black;
  text-decoration: none
}
#logo img {
  width: 100px;
}
#logo h1 {
  font-size: 40px;
  margin-top: 0;
}

#logo h4 {
  margin: -34px 0 0 0;
}

#search-form {
  text-align: center;
  background-color: #0060B2;
  padding: 10px 0;
}

form {
  /*background-color: whitesmoke;*/
  padding: 5px 30px;
}

@media(max-width: 565px){
  form .form-control {
    max-width: 280px;
    margin: 5px auto;
  }
}

form input[value='Search'] {
  background-color: #FFAE2C;
  border: none;
  color: white;
}
/*
form input:not([type="checkbox"]) {
  height: 37px;
  width: 130px;
  font-size: 14px;
  padding: 0 10px;
  margin: -4px;
}

form input[type='checkbox']{
  margin: 0 11px 0 -1px;
}

form button {
  height: 41px;
  color: #fff;
  background-color: #F39C12;
  display: inline;
  padding: 9px 27px;
  font-size: 16px;
  border: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-weight: bold;
  margin: -2px;
}

@media(max-width: 720px) {
  form input:not([type="checkbox"]) {
    display: block;
    margin: 5px auto;
  }
  form button {
    border-radius: 2px
  }
}
*/

/*ABOUT*/
#about {
  margin: 50px auto 30px auto;
  float: none;
  font-size: 15px;
}
