body {
  /*bus color #F39C12 */
  /*background-image: url('http://subtlepatterns.com/patterns/restaurant.png');*/
/*  background-size: cover;
  background-repeat: no-repeat;*/
  font-family: Helvetica;
}

#logo-wrapper {
  text-align: center;
  margin: 70px 0;
}

#logo img {
  width: 100px;
}
#logo h1 {
  font-size: 40px;
  margin-top: 0;
}

#logo h4 {
  margin: -34px 0 0 0;
}

#search-form {
  text-align: center
}

form {
  background-color: whitesmoke;
  padding: 20px;
  position: absolute;
  width: 100%;
  left: 0;
}

form input:not([type="checkbox"]) {
  height: 37px;
  width: 130px;
  font-size: 14px;
  padding: 0 10px;
  margin: -4px;
}

form input[type='checkbox']{
  margin: 0 11px 0 -1px;
}

form button {
  height: 41px;
  color: #fff;
  background-color: #F39C12;
  display: inline;
  padding: 9px 27px;
  font-size: 16px;
  border: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-weight: bold;
  margin: -2px;
}

@media(max-width: 720px) {
  form input:not([type="checkbox"]) {
    display: block;
    margin: 5px auto;
  }
  form button {
    border-radius: 2px
  }
}
